<main>
    <div class="container-fluid p-4">
        <h1 class="mt-4">Tạo category</h1>
        
    <form action="/category/create" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Category</label>
            <input name="name" type="text" class="form-control" id="category" placeholder="Sample category">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</main>
